[user]
  name = jinkwon.lee
  email = uzmystic@gmail.com

[alias]
  co = checkout
  s = status
  amd = commit --amend

[http]
  postBuffer = 157286400
  version = HTTP/1.1
  sslVerify = true

[core]
  ignorecase = false
  excludesFiles = /Users/jk/.gitignore

[pull]
  rebase = false
